In [1]:
import pandas as pd

enrolment_df=pd.read_parquet("../sql/data/data_cache/enrolment_clean.parquet")

print(enrolment_df.columns)
print(enrolment_df.head())

Index(['date', 'state', 'district'], dtype='object')
        date          state          district
0 2025-03-02      Meghalaya  East Khasi Hills
1 2025-03-09      Karnataka   Bengaluru Urban
2 2025-03-09  Uttar Pradesh      Kanpur Nagar
3 2025-03-09  Uttar Pradesh           Aligarh
4 2025-03-09      Karnataka   Bengaluru Urban

In [2]:
import pandas as pd

print("=== Aadhar.csv ===")
try:
    aadhar_csv=pd.read_csv("../sql/data/Aadhar.csv")
    print(aadhar_csv.columns)
    print(aadhar_csv.head())
except Exception as e:
    print("error reading Aadhar.csv:",e)

print("\n=== Aadhar.xlsx ===")
try:
    aadhar_xlsx=pd.read_excel("../sql/data/Aadhar.xlsx")
    print(aadhar_xlsx.columns)
    print(aadhar_xlsx.head())
except Exception as e:
    print("error reading Aadhar.xlsx:",e)

=== Aadhar.csv ===
Index(['State', 'No. of centres'], dtype='object')
                 State  No. of centres
0  Andaman And Nicobar              16
1       Andhra Pradesh            3029
2  Arunanchal Pradesh               87
3               Assam             1156
4               Bihar             3915

=== Aadhar.xlsx ===
Index(['State', 'No. of centres'], dtype='object')
                 State  No. of centres
0  Andaman And Nicobar              16
1       Andhra Pradesh            3029
2  Arunanchal Pradesh               87
3               Assam             1156
4               Bihar             3915

In [1]:
import pandas as pd

df=pd.read_excel("../sql/data/AadhaarSaturationReport.xlsx",header=None)

print("shape:",df.shape)
print("\nfirst 10 rows:")
print(df.head(10))

print("\nlast 10 rows:")
print(df.tail(10))

shape: (45, 5)

first 10 rows:
                                  0                      1  \
0                               NaN                    NaN
1                               NaN                    NaN
2  State/UT wise Aadhaar Saturation                    NaN
3               2025-11-30 00:00:00                    NaN
4                              S.No  State/Union Territory
5                                 1          A & N Islands
6                                 2         Andhra Pradesh
7                                 3      Arunachal Pradesh
8                                 4                  Assam
9                                 5                  Bihar

                                       2  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4  Total population (Projected for 2025)
5                               4,05,000
6                            5,35,24,000
7                              15,90,000
8                            3,63,82,000
9                           13,04,29,000

                                              3                     4
0                                           NaN                   NaN
1                                           NaN                   NaN
2                                           NaN                   NaN
3                                           NaN                   NaN
4  Estimated numbers of Aadhaar assigned (Live)  Penetration % (Live)
5                                      3,84,689                0.9498
6                                   5,31,56,855                0.9931
7                                     12,46,781                0.7841
8                                   3,35,34,420                0.9217
9                                  11,55,72,553                0.8861

last 10 rows:
                                                    0              1  \
35                                                 31     Tamil Nadu
36                                                 32      Telangana
37                                                 33        Tripura
38                                                 34  Uttar Pradesh
39                                                 35    Uttarakhand
40                                                 36    West Bengal
41                                              TOTAL            NaN
42                                              Note:            NaN
43  1.   The count of Aadhaar number holders is ba...            NaN
44  2.  The estimated count of Aadhaar number hold...            NaN

                 2               3       4
35     7,73,17,000     7,54,77,944  0.9762
36     3,84,54,000     3,99,13,987   1.038
37       42,22,000       39,16,411  0.9276
38    24,04,68,000    22,53,32,659  0.9371
39     1,18,74,000     1,18,73,042  0.9999
40    10,00,42,000    10,01,55,867  1.0011
41  1,41,22,25,700  1,34,25,58,318  0.9507
42             NaN             NaN     NaN
43             NaN             NaN     NaN
44             NaN             NaN     NaN

In [2]:
for i in range(10):
    print(f"\nrow {i}:")
    print(df.iloc[i])

row 0:
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 0, dtype: object

row 1:
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 1, dtype: object

row 2:
0    State/UT wise Aadhaar Saturation
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN
Name: 2, dtype: object

row 3:
0    2025-11-30 00:00:00
1                    NaN
2                    NaN
3                    NaN
4                    NaN
Name: 3, dtype: object

row 4:
0                                            S.No
1                           State/Union Territory
2           Total population (Projected for 2025)
3    Estimated numbers of Aadhaar assigned (Live)
4                            Penetration % (Live)
Name: 4, dtype: object

row 5:
0                1
1    A & N Islands
2         4,05,000
3         3,84,689
4           0.9498
Name: 5, dtype: object

row 6:
0                 2
1    Andhra Pradesh
2       5,35,24,000
3       5,31,56,855
4            0.9931
Name: 6, dtype: object

row 7:
0                    3
1    Arunachal Pradesh
2            15,90,000
3            12,46,781
4               0.7841
Name: 7, dtype: object

row 8:
0              4
1          Assam
2    3,63,82,000
3    3,35,34,420
4         0.9217
Name: 8, dtype: object

row 9:
0               5
1           Bihar
2    13,04,29,000
3    11,55,72,553
4          0.8861
Name: 9, dtype: object

In [3]:
import pandas as pd

raw=pd.read_excel("../sql/data/AadhaarSaturationReport.xlsx",header=None)

# extract proper table
df=raw.iloc[5:41].copy()
df.columns=[
    "sno",
    "state",
    "population_2025",
    "aadhaar_assigned",
    "penetration_ratio"
]

# clean numbers
df["population_2025"]=df["population_2025"].astype(str).str.replace(",","").astype(int)
df["aadhaar_assigned"]=df["aadhaar_assigned"].astype(str).str.replace(",","").astype(int)
df["penetration_percent"]=df["penetration_ratio"].astype(float)*100

# drop serial + ratio column
df=df.drop(columns=["sno","penetration_ratio"])

print("shape:",df.shape)
print(df.head())
print("\nmin / max penetration:")
print(df["penetration_percent"].min(),df["penetration_percent"].max())

shape: (36, 4)
               state  population_2025  aadhaar_assigned  penetration_percent
5      A & N Islands           405000            384689                94.98
6     Andhra Pradesh         53524000          53156855                99.31
7  Arunachal Pradesh          1590000           1246781                78.41
8              Assam         36382000          33534420                92.17
9              Bihar        130429000         115572553                88.61

min / max penetration:
62.77 109.65